[Desktop Entry]
Name=FlyBy
Comment=Make photo bursts
Exec=org.neocities.albertt.flyby %F
Icon=org.neocities.albertt.flyby
MimeType=application/x-flyby;
Type=Application
Terminal=false
Categories=AudioVideo;
Keywords=3D;
StartupWMClass=org.neocities.albertt.flyby
